<div class="text">
      <h1><b>Who Am I?</b></h1>
      <p>
        Hi, my name is Adam and i am currently studying a
        <b>Diploma of IT (Software Development) at Swinburne University</b> which i
        will be finishing near the end of this year (2022).
      </p>
      <p>
        My current goal is to progress myself into the programming industry, to
        prepare for this i have been learning for the last couple of years, in
        addition to my current course i also completed the
        <b>Certificate IV of software development</b> last year and some self led
        learning before that.
      </p>
    <hr>
    <h1><b>What am i interested in? (or what makes me interesting)</b></h1>
    <p>
      It took me a couple of years after i
      <b>completed highschool on Phillip Island</b> to figure out what i actually
      wanted to do, after a short stint in an engineering course i decided it was
      not for me and decided to do the best thing someone afraid of heights can do
      and learn to fly. During this course i received my
      <b>Recreational Pilots License</b> (meaning the government trusts me to
      fly), i flew a plane upside down, diving at hundreds of kph towards the
      ground and had a great time.
    </p>
    <p>
      But as i started to learn some programming i quickly decided that is what i
      wanted to do for the rest of my life. Between this decision and starting at
      Swinburne i went back to some of my highschool jobs of a rock climbing
      instructor and helicopter loader, i also got a
      <b>full time job with the ATO taking inbound calls</b> which eventually led
      to inbound calls from large businesses with covid relief payment questions
      pertaining to several millions of dollars where i had to process the
      documentation and in some cases approve of deny requests.
    </p>
    <p>
      And now im in a position where i have enough knowledge to work in the
      programming industry and have so much excitement for where this will take
      me.
    </p>
    <hr>
    <h1><b>What are my skills?</b></h1>
    <ul>
      <li>Angular</li>
      <li>TypeScript/JavaScript</li>
      <li>HTML/CSS as well as Component libraries such as Material UI</li>
      <li>C#</li>
      <li>ASP.NET</li>
      <li>Python</li>
      <li>MS SQL</li>
      <li>Agile Development</li>
      <li>GitHub utilising different work flows (Git Flow)</li>
    </ul>
</div>
