<div class="container">
  <mat-card class="example-card">
    <mat-card-title>Basketball Prediction</mat-card-title>
    <mat-card-subtitle>Swinburne Group Project</mat-card-subtitle>
    <mat-card-content>
      <img
        src="../../assets/Basketball_Prediction.PNG"
        height="200px"
        alt="Basketball Prediction view all players"
      />
      <p>
        This Project Was completed by me and a team during my Diploma at
        Swinburne University, i worked on all areas of the site including front
        end using
        <b><i>Angular (Including HTML/ CSS/Typescript)</i></b
        >, back end using <b><i>ASP.NET</i></b
        >, database <b><i>MSSQL Server</i></b> and authorisation usilising
        <b><i>Auth0</i></b
        >. my contributions can be found on github.
      </p>
      <p>
        Non-technically i was also involved in planning and documenting the
        project, this was done using a <b><i>Agile</i></b> model managed by
        <b><i>Microsoft Azure Devops</i></b
        >.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://github.com/Stav-Kyriacou/BasketballPredictions"
        target="_blank"
        ><button mat-button>
          View on Github<img
            src="../assets/github.png"
            alt="Github"
            height="50px"
          /></button
      ></a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Profile Website</mat-card-title>
    <mat-card-subtitle>Personal Project</mat-card-subtitle>
    <mat-card-content>
      <img
        src="../../assets/Portfolio.PNG"
        height="200px"
        alt="Basketball Prediction view all players"
      />
      <p>
        This Project is a personal project to showcase my skills and history of
        work. This Website is created with the <b>Angular</b> framework as well
        as some <b>Material UI</b> components.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/AdamDod/PortfolioWebsite" target="_blank"
        ><button mat-button>
          View on Github<img
            src="../assets/github.png"
            alt="Github"
            height="50px"
          /></button
      ></a>
    </mat-card-actions>
  </mat-card>
</div>
