<mat-grid-list class="container" cols="6" rowHeight="2:1">
  <mat-grid-tile class="blank" [colspan]="1" [rowspan]="2"></mat-grid-tile>
  <mat-grid-tile class="name-tile" [colspan]="5"><h1 class="name">Adam Dodson</h1></mat-grid-tile>
  <mat-grid-tile class="pages" [colspan]="5" [rowspan]="1">
    <div class="btn-container">
      <button [ngClass]="{'page-btn':true, 'selected-page':selectedPage == 'about-me'}" (click)="navigate('about-me')" mat-button>About Me</button>
      <button [ngClass]="{'page-btn':true, 'selected-page':selectedPage == 'projects'}" (click)="navigate('projects')" mat-button>Projects</button>
      <button [ngClass]="{'page-btn':true, 'selected-page':selectedPage == 'employment'}" (click)="navigate('employment')" mat-button>Employment</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="links" [colspan]="1" [rowspan]="5">
    <div class="link-container">
      <h2><u><b>My Links</b></u></h2>
      <div><a href="https://github.com/AdamDod" target="_blank"><button mat-button class="link"><img src="../assets/github.png" alt="Github" height="50px"> - Github</button></a></div>
      <div><a href="https://www.linkedin.com/in/adamddodson/" target="_blank"><button mat-button class="link"><img src="../assets/linkedIn.png" alt="LinkedIn" height="50px"> - LinkedIn</button></a></div>
      <div><a href="mailto: adamdd@live.com.au"><button mat-button class="link"><img src="../assets/email.png" alt="Email" height="50px"> - Email</button></a></div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="content" [colspan]="5" [rowspan]="12">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-grid-tile>
</mat-grid-list>
