<body>
  <div class="container">
    <div class="introduction">
      <div class="introduction-cover">
        <h1 id="introduction-name">Adam Dodson</h1>
        <p id="introduction-title"><b>Developer</b></p>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="bio">
      <div class="subbox" id="subbox-img"></div>
      <div class="subbox">
        <div class="subbox-text-container">
          <p class="subbox-text">
            " I am a Junior Developer located in Melbourne, Australia, i have a
            passion for coding and love finding elegant solutions to complex
            problems "
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="bio">
      <div class="subbox" id="subbox-img-about-me"></div>
      <div class="subbox" id="about-me-img">
        <div class="subbox-text-container">
          <p class="subbox-text">
            When im not programming you might find me playing sports, watching movies or flying sorties in flight simulators
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="links">
    <div><a href="../../assets/Adam's Resume.docx" download><button mat-button class="link"><img src="../../assets/resume.png" alt="Github" height="50px"> - Resume</button></a></div>
    <div><a href="https://github.com/AdamDod" target="_blank"><button mat-button class="link"><img src="../assets/github.png" alt="Github" height="50px"> - Github</button></a></div>
    <div><a href="https://www.linkedin.com/in/adamddodson/" target="_blank"><button mat-button class="link"><img src="../assets/linkedIn.png" alt="LinkedIn" height="50px"> - LinkedIn</button></a></div>
    <div><a href="mailto: adamdd@live.com.au"><button mat-button class="link"><img src="../assets/email.png" alt="Email" height="50px"> - Adamdd@live.com.au</button></a></div>
  </div>
  <div><h1 class="project-header">Projects</h1></div>
  <div class="container" id="project-container">

    <div class="projects">
      <div class="project">
        <h2>This Website!</h2>
        <div class="project-inner">
          <div class="inner" id="inner-img-portfolio"></div>
          <div class="inner">
            <h3>Description</h3>
            <p>
              This Website was made from scratch using Angular, for convenience
              and CI/CD benefits it is hosted on GitHub Pages
            </p>
            <h3>Technologies used</h3>
            <ul>
              <li>Angular</li>
              <li>Html/Css</li>
              <li>GitHub</li>
            </ul>
            <h3>Difficulties</h3>
            <p>
              The primary difficulty with this project was the design of the page as well as the content.
            </p>
            <a
              href="https://github.com/AdamDod/PortfolioWebsite"
              target="_blank"
              mat-button
            >
              <button class="project-link" mat-raised-button>View on Github<img
                src="../assets/github.png"
                alt="Github"
                height="50px"
            /></button> </a>
          </div>
        </div>
      </div>
      <div class="project">
        <h2>Board Game Manager</h2>
        <div class="project-inner" id="boardgame">
          <div class="inner" id="inner-img-boardgame"></div>
          <div class="inner">
            <h3>Description</h3>
            <p>
              This Board Game Manager lets users log in to create and join
              groups and record games they have played in that group and record
              winners
            </p>
            <p>
              This project is my largest solo project to date, it is a full
              stack program using sn SQL server, ASP.NET Core API and Angular
              front end using Material UI as well.
            </p>
            <h3>Technologies used</h3>
            <ul>
              <li>ASP.NET Core</li>
              <li>C#</li>
              <li>Angular</li>
              <li>Html/Css/Typescript/Javascript</li>
              <li>Sql Server</li>
              <li>GitHub</li>
              <li>Azure</li>
              <li>Auth0</li>
            </ul>
            <h3>Difficulties</h3>
            <p>
              This project had some interesting challenges, the addition of a
              log in feature allows for lots of unique functionality, however,
              this also added complexity in ensuring the safety of users data.
              This was ensured by only storing non sensitive information on my
              server and relying on the trusted Auth0 service.
            </p>
            <a
              href="https://github.com/AdamDod/AdamDod.github.io"
              target="_blank"
              mat-button
            >
              <button class="project-link" mat-raised-button>View on Github<img
                src="../assets/github.png"
                alt="Github"
                height="50px"
            /></button> </a>
            <a
              href="https://adamportfolio.azurewebsites.net/"
              target="_blank"
              mat-button
            >
              <button class="project-link" mat-raised-button>View Live Demo <mat-icon>website</mat-icon></button> </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
