body{
}

.container{
  display: flex;
  align-items: center;
  justify-content:center;
  margin:3vw;
  height:500px;
  min-height:30vh;
}

.container2{
  display: flex;
  align-items: center;
  justify-content:center;
  margin:3vw;
  height:400px;
  min-height:30vh;
}

#skills-container{
  height: min-content;
}

#project-container{
  height:min-content;
}

.introduction{
  width:90%;
  text-align:center;
  height:100%;
  background-image: url("../../assets/coding_splash.jpg");
  background-size: cover;
}

.introduction-cover{
  background-color: rgba(0, 0, 0, 0.411);
  height:100%;
}

#introduction-name{
  padding-top:200px;
  font-size:50px;
  font-weight:bold;
  color:white;
  line-height:50px;
}

#introduction-title{
  color:white;
}

.bio{
  display:flex;
  width:90%;
  align-items:center;
  justify-content:center;
  height:90%;
}


.subbox{
  width:100%;
  height:100%;
  text-align:center;
  display: flex;
  justify-content:center;
  background-color:#33343F;
}

#skills-img{
  height:min-content;
}

.subbox-text-container{
  text-align:center;
  display: flex;
  justify-content:center;
  background: rgb(113,114,117);
  background: linear-gradient(341deg, rgba(113,114,117,1.6) 0%, rgba(36,36,36,.6) 100%);
  width:100%;
}

.subbox-text-container-skills{
  text-align:center;
  display: flex;
  justify-content:center;
  background: linear-gradient(341deg, rgba(245, 245, 245, 0.6) 0%, rgba(203, 203, 203, 0.6) 100%);
  width:100%;
}





#subbox-img{
  background-image: url("../../assets/coding-splash2.jpg");
  background-size: cover;
}

#subbox-img-about-me{
  background-image: url("../../assets/aircraft.webp");
  background-size: cover;
}

.subbox-text{
  position: relative;
  top: 30%;
  width: 70%;
  font-size: 20px;
  color:white;
  line-height: 30px;
  font-weight: bolder;
  height: min-content;
}
#subbox-text-skills{
  top: 0px;
  width: 100%;
  min-height: 400px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skill-badge{
  display: flex;
  flex-direction: column;
  max-width:100px;
}


#subbox-img-skills{
  min-height: 400px;
  background-color: rgb(68, 68, 70);
  background-color: linear-gradient(341deg, rgba(113,114,117,1.6) 0%, rgba(36,36,36,.6) 100%);
  align-items: center;
}

#subbox-img-skills h1{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  top: 50%;
  color: white;
}

#skills-bio{
  height: 100%;
}

img{
  padding:10px;
}
.projects{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  font-size: larger;
  justify-content: center;
}

.project{
  height: 100%;
  margin:10px;
  width: 500px;
  background-color:rgba(0, 0, 0, 0.397);
}

.project-inner{
  display:flex;
  flex-direction: row;
}

#boardgame-project{
  background-image: url("../../assets/splash.jpg");
  background-size: cover;
  color:white;
}

#portfolio-project{
  background-image: url("../../assets/portfolio-website.PNG");
  background-size: cover;
  color:white;
}

#dashboard-project{
  background-image:url("../../assets/Dashboard.PNG");
  background-size: cover;
  color:white;
}

.dimmer{
  background-color: rgba(0, 0, 0, 0.787);
  padding:20px;
}

.inner{
  width:100%;
  margin:20px;
}

#inner-img-portfolio{
  background-image: url("../../assets/portfolio-website.PNG");
  background-size: cover;
  min-height: 200px;
}

#inner-img-boardgame{
  background-image: url("../../assets/splash.jpg");
  background-size: cover;
  min-height: 200px;
}

.links{
  position:fixed;
  bottom:0;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(113,114,117);
  background: linear-gradient(288deg, rgba(113,114,117,1) 0%, rgba(0,0,0,1) 54%);
  height:min-content;
  padding:20px;
  color:white;
  z-index: 2;
}

.project-header{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  height: 100px;
  padding-top:30px;
}

.project-header-container{
  display: flex;
  justify-content: center;
}

a {
  all: unset;
}

h2{
  font-size: 30px;
  text-decoration: underline;
}

h3{
  font-size: 25px;
  font-weight: bold;
}

.project-link{
  height: 60px;
  margin:10px;
}

@media (max-width:1000px){
  .projects{
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .inner{
    margin:5px;
  }

  .subbox-text{
    top: 20%;
  }

  .subbox{
    background-image: url("../../assets/coding-splash2.jpg");
    background-size: cover;
  }

  #about-me-img{
    background-image: url("../../assets/aircraft.webp");
  }

  #skills-img{
    background-image:none;
  }

  #subbox-img, #subbox-img-about-me{
    display: none;
  }

  #skills-bio{
    flex-direction: column;
  }

  #subbox-img-skills{
    background-image:none;
    height: 100px;
    min-height: 100px;
  }

  #subbox-text-skills{
    min-height: none;
  }

  .subbox-text-container:hover{
    background: rgb(113,114,117);
  background: linear-gradient(341deg, rgba(113,114,117,.6) 0%, rgba(36,36,36,.6) 100%);
  background-color:rgba(0, 0, 0, 0.676);
}
}

@media (max-width:600px){
  .project-inner{
    flex-direction: column;
  }

  .subbox-text{
    font-size: 15px;
  }

  .links{
    flex-direction: column;
  }

  .container{
    height:400px;
  }

  #introduction-name{
    padding-top:100px;
  }

}
