<body>
  <div class="main">
    <div class="container">
      <div class="introduction">
        <div class="introduction-cover">
          <h1 id="introduction-name">Adam Dodson</h1>
          <p id="introduction-title"><b>Junior Developer</b></p>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="bio">
        <div class="subbox" id="subbox-img"></div>
        <div class="subbox">
          <div class="subbox-text-container">
            <p class="subbox-text">
              I am a Junior Developer with a
              passion for coding and love finding elegant solutions to complex
              problems
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="bio">
        <div class="subbox" id="subbox-img-about-me"></div>
        <div class="subbox" id="about-me-img">
          <div class="subbox-text-container">
            <p class="subbox-text">
              When im not programming you might find me playing sports, watching movies or flying sorties in flight simulators
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container2" id="skills-container">
      <div class="bio" id="skills-bio">
        <div class="subbox" id="subbox-img-skills"><h1>My Skills</h1></div>
        <div class="subbox" id="skills-img">
          <div class="subbox-text-container-skills">
            <div class="subbox-text" id="subbox-text-skills">
              <div class="skill-badge"><img src="../../assets/software logos/1200px-Python-logo-notext.svg.png" height="70px">Python</div>
              <div class="skill-badge"><img src="../../assets/software logos/download (5).png" height="70px">Angular</div>
              <div class="skill-badge"><img src="../../assets/software logos/download (1).png" height="70px">C#</div>
              <div class="skill-badge"><img src="../../assets/software logos/download (2).png" height="70px">JavaScript</div>
              <div class="skill-badge"><img src="../../assets/software logos/download (3).png" height="70px">CSS</div>
              <div class="skill-badge"><img src="../../assets/software logos/download (4).png" height="70px">HTML</div>
              <div class="skill-badge"><img src="../../assets/software logos/download.jpg" height="70px">ASP.NET</div>
              <div class="skill-badge"><img src="../../assets/software logos/download.png" height="70px">SQL</div>
              <div class="skill-badge"><img src="../../assets/github.png" height="70px">GitHub</div>
              <div class="skill-badge"><img src="../../assets/software logos/azure.png" height="70px" width="70px">Microsoft Azure</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <div><a href="../../assets/Adam's Resume.docx" download><button mat-button class="link"><img src="../../assets/resume.png" alt="Github" height="50px"> - Resume</button></a></div>
      <div><a href="https://github.com/AdamDod" target="_blank"><button mat-button class="link"><img src="../assets/github.png" alt="Github" height="50px"> - Github</button></a></div>
      <div><a href="https://www.linkedin.com/in/adamddodson/" target="_blank"><button mat-button class="link"><img src="../assets/linkedIn.png" alt="LinkedIn" height="50px"> - LinkedIn</button></a></div>
      <div><a href="mailto: adamdd@live.com.au"><button mat-button class="link"><img src="../assets/email.png" alt="Email" height="50px"> - Adamdd@live.com.au</button></a></div>
    </div>
    <div class="project-header-container"><h1 class="project-header">Projects</h1></div>
    <div class="container" id="project-container">
      <div class="projects">
        <div class="project" id="boardgame-project">
          <div class="dimmer">
            <h2>Board Game Manager</h2>
          <div class="project-inner" id="boardgame">
            <div class="inner">
              <h3>Description</h3>
              <p>
                This Board Game Manager lets users log in to create and join
                groups and record games they have played in that group and record
                winners
              </p>
              <p>
                This project is my largest solo project to date, it is a full
                stack program using sn SQL server, ASP.NET Core API and Angular
                front end using Material UI as well.
              </p>
              <h3>Technologies used</h3>
              <ul>
                <li>ASP.NET Core</li>
                <li>C#</li>
                <li>Angular</li>
                <li>Html/Css/Typescript/Javascript</li>
                <li>Material UI</li>
                <li>Sql Server</li>
                <li>GitHub</li>
                <li>Azure</li>
                <li>Auth0</li>
              </ul>
              <h3>Difficulties</h3>
              <p>
                This project had some interesting challenges, the addition of a
                log in feature allows for lots of unique functionality, however,
                this also added complexity in ensuring the safety of users data.
                This was ensured by only storing non sensitive information on my
                server and relying on the trusted Auth0 service.
              </p>
              <a
                href="https://github.com/AdamDod/Board_Game_Manager"
                target="_blank"
                mat-button
              >
                <button class="project-link" mat-raised-button>View on Github<img
                  src="../assets/github.png"
                  alt="Github"
                  height="50px"
              /></button> </a>
              <a
                href="https://adamportfolio.azurewebsites.net/"
                target="_blank"
                mat-button
              >
                <button class="project-link" mat-raised-button>View Live Demo <mat-icon>website</mat-icon></button> </a>
            </div>
          </div>
          </div>
        </div>
        <div class="project" id="dashboard-project">
          <div class="dimmer">
            <h2>Maintenance Dashboard</h2>
          <div class="project-inner" id="boardgame">
            <div class="inner">
              <h3>Description</h3>
              <p>
                This project was created for the maintenance team at Kestrel Helicopters,
                this application is used by the maintenance staff to keep track of current helicopter
                statuses and locations.
              </p>
              <p>
                This project is a full stack development utilizing an sql database,
                ASP.NET Wep Api, and Angular Front End. The design has been kept simple
                and large to be seen from across a large distance on a TV and an auto scroll
                feature was included so all items can be viewed without interaction
              </p>
              <h3>Technologies used</h3>
              <ul>
                <li>ASP.NET Core</li>
                <li>C#</li>
                <li>SignalR</li>
                <li>Angular</li>
                <li>Html/Css/Typescript/Javascript</li>
                <li>Sql Server</li>
                <li>GitHub</li>
                <li>Azure</li>
              </ul>
              <h3>Difficulties</h3>
              <p>
                In this project the largest difficulty was the purpose built design,
                ensuring relevant information can be seen from long distances while
                still being able to fit the required information led to the automated scrolling
              </p>
              <a
                href="https://github.com/AdamDod/KestralHelicopterDashboard"
                target="_blank"
                mat-button
              >
                <button class="project-link" mat-raised-button>View on Github<img
                  src="../assets/github.png"
                  alt="Github"
                  height="50px"
              /></button> </a>
              <a
                href="http://kestreldashboard.azurewebsites.net/"
                target="_blank"
                mat-button
              >
                <button class="project-link" mat-raised-button>View Live Demo <mat-icon>website</mat-icon></button> </a>
            </div>
          </div>
          </div>
        </div>
        <div class="project" id="portfolio-project">
          <div class="dimmer">
            <h2>This Website!</h2>
            <div class="project-inner">
              <div class="inner">
                <h3>Description</h3>
                <p>
                  This Website was made from scratch using Angular, for convenience
                  and CI/CD benefits it is hosted on GitHub Pages
                </p>
                <h3>Technologies used</h3>
                <ul>
                  <li>Angular</li>
                  <li>Html/Css</li>
                  <li>GitHub</li>
                </ul>
                <h3>Difficulties</h3>
                <p>
                  The primary difficulty with this project was the design of the page as well as the content.
                </p>
                <a
                  href="https://github.com/AdamDod/PortfolioWebsite"
                  target="_blank"
                  mat-button
                >
                  <button class="project-link" mat-raised-button>View on Github<img
                    src="../assets/github.png"
                    alt="Github"
                    height="50px"
                /></button> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
